.navbar {
  width: 100%;
  z-index: 99;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav_center {
  max-width: 1120px; /*>> Don't style hard coded style */
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  width: 175px;
  height: 48px;
  object-fit: contain;
  object-position: center;
  /* display: none; */
}

.nav_links {
  display: flex;
  gap: 20px;
}

.nav_link {
  padding: 7px 20px;
  border-radius: 30px;
  transition: all 0.23s ease-in;
}

.nav_link:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(2, 22, 57, 1);
}

.hide_nav {
  height: 0;
  overflow: hidden;
}

@media screen and (max-width:640px) {
  #burger {
  display: block !important;
  }

  .nav_center {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .nav_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav_link {
    height: 30px;
    width: 100vw;
    padding: 1rem;
    border: none;
    border-radius: 0px;
  }
}